<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      {% block meta %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
      <meta name="keywords" content="practo clone, doccure, doctor appointment, Practo clone html template, doctor booking template">
      <meta name="author" content="Practo Clone HTML Template - Doctor Booking Template">
      <meta property="og:url" content="https://doccure.dreamguystech.com/html/">
      <meta property="og:type" content="website">
      <meta property="og:title" content="Doctors Appointment HTML Website Templates | Doccure">
      <meta property="og:description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
      <meta property="og:image" content="/static/adminassets/img/preview-banner.jpg">
      <meta name="twitter:card" content="summary_large_image">
      <meta property="twitter:domain" content="https://doccure.dreamguystech.com/html/">
      <meta property="twitter:url" content="https://doccure.dreamguystech.com/html/">
      <meta name="twitter:title" content="Doctors Appointment HTML Website Templates | Doccure">
      <meta name="twitter:description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
      <meta name="twitter:image" content="/static/adminassets/img/preview-banner.jpg">	
      {% endblock meta %}

      <title>Doccure  {% block title %}{% endblock %}</title>

      {% block stylesheets %}
      	<!-- Favicon -->
          <link rel="shortcut icon" type="image/x-icon" href="/static/adminassets/img/favicon.png">
		
          <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="/static/adminassets/css/bootstrap.min.css">
          <link rel="stylesheet" href="/static/adminassets/plugins/datatables/datatables.min.css">
          
          <!-- Fontawesome CSS -->
          <link rel="stylesheet" href="/static/adminassets/plugins/fontawesome/css/fontawesome.min.css">
          <link rel="stylesheet" href="/static/adminassets/plugins/fontawesome/css/all.min.css">
          
          <!-- Feathericon CSS -->
          <link rel="stylesheet" href="/static/adminassets/css/feathericon.min.css">
          
          <link rel="stylesheet" href="/static/adminassets/plugins/morris/morris.css">
          
          <!-- Main CSS -->
        
          <link rel="stylesheet" href="/static/adminassets/css/custom.css">
      {% endblock stylesheets %}
      <!-- Custom Theme Style -->
      {% comment %} <link href="/static/build/css/custom.css" rel="stylesheet"> {% endcomment %}
    {% endblock head %}
  </head>

  <body>
    {% block body %}
     
        <div class="main-wrapper">

          {% block header %}
           
              {% include "admin/include/header.html" %}
         
          {% endblock header %}  

          {% block sidebar %}
          
              {% include "admin/include/sidebar.html" %}
           
          {% endblock sidebar %}


          {% block content %}
            <!-- {{ content }} -->
          {% endblock content %}

         
        </div>
     

      {% block javascripts %}
        <!-- jQuery -->
        <script src="/static/adminassets/js/jquery-3.7.0.min.js"></script>
                
        <!-- Bootstrap Core JS -->
        <script src="/static/adminassets/js/bootstrap.bundle.min.js"></script>
        
        <!-- Slimscroll JS -->
        <script src="/static/adminassets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

        
        <!-- Datatables JS -->
        <script src="/static/adminassets/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/static/adminassets/plugins/datatables/datatables.min.js"></script>
		
     
        <script src="/static/adminassets/plugins/raphael/raphael.min.js"></script>    
        <script src="/static/adminassets/plugins/morris/morris.min.js"></script>  
        <script src="/static/adminassets/js/chart.morris.js"></script>

        
        <!-- Custom JS -->
        <script  src="/static/adminassets/js/script.js"></script>
      {% endblock %}
      {% comment %} <!-- Custom Theme Scripts -->
      <script src="/static/build/js/custom.js"></script> {% endcomment %}
    {% endblock body %}
  </body>
</html>